[Unit]
Description=Retry TokenChain/Osmosis Testnet IBC Bootstrap

[Timer]
OnBootSec=2min
OnUnitActiveSec=15min
RandomizedDelaySec=20s
Persistent=true
Unit=tokenchain-osmo-ibc-bootstrap.service

[Install]
WantedBy=timers.target
